@import './vars';
@import url('https://rsms.me/inter/inter.css');

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

ol,
ul {
    list-style: none;

}

img {
    max-width: 100%;
    height: auto;
}

.container {

    margin: 20px;
    height: 100vh;
}